In [7]:
import pandas as pd
import torch
import torch.nn as nn
from collections import defaultdict, deque

In [38]:
import sys
sys.path.insert(0, "../code")   
from model_utils import load_models_from_dir
from utils import RunningMedian, SmoothOnlineMedian

In [9]:
%load_ext autoreload
%autoreload 2

In [10]:
df = pd.read_excel(
    "../output/data/test_top_10_store_10_store_item.xlsx",
)
df = df.sort_values(by=['date', 'store_item'])
df = df.reset_index(drop=True)
df.head(5)

        date store_item  store_nbr  item_nbr  onpromotion  unit_sales
0 2017-08-16  3_1047679          3   1047679            0           0
1 2017-08-16   3_114790          3    114790            1           0
2 2017-08-16   3_305229          3    305229            0           0
3 2017-08-16   3_314384          3    314384            1           0
4 2017-08-16   3_364606          3    364606            0           0

In [11]:
df.sort_values("date")

           date  store_item  store_nbr  item_nbr  onpromotion  unit_sales
0    2017-08-16   3_1047679          3   1047679            0           0
72   2017-08-16   50_305229         50    305229            0           0
71   2017-08-16   50_114790         50    114790            1           0
70   2017-08-16  50_1047679         50   1047679            0           0
69   2017-08-16   49_584028         49    584028            0           0
...         ...         ...        ...       ...          ...         ...
1527 2017-08-31   45_581078         45    581078            0           0
1526 2017-08-31   45_567623         45    567623            0           0
1525 2017-08-31   45_502331         45    502331            0           0
1535 2017-08-31   46_502331         46    502331            0           0
1599 2017-08-31    8_584028          8    584028            0           0

[1600 rows x 6 columns]

In [12]:

def preprocess_test_df(df, feature_cols):
    df['onpromotion'] = df['onpromotion'].astype(bool).astype(int)
    df['date'] = pd.to_datetime(df['date'])
    df[feature_cols] = df[feature_cols].astype('float32')
    return df

In [13]:
feature_cols = ["unit_sales"]
feature_cols

['unit_sales']

In [14]:
df = preprocess_test_df(df, feature_cols)
df.dtypes

date           datetime64[ns]
store_item             object
store_nbr               int64
item_nbr                int64
onpromotion             int64
unit_sales            float32
dtype: object

In [15]:
df.head(5)

        date store_item  store_nbr  item_nbr  onpromotion  unit_sales
0 2017-08-16  3_1047679          3   1047679            0         0.0
1 2017-08-16   3_114790          3    114790            1         0.0
2 2017-08-16   3_305229          3    305229            0         0.0
3 2017-08-16   3_314384          3    314384            1         0.0
4 2017-08-16   3_364606          3    364606            0         0.0

In [16]:
%pwd

'/Users/yvesgreatti/github/kaggle_favorita_grocery_sales_forecasting/notebook'

In [17]:
models = load_models_from_dir()

In [18]:
models
models["3_1047679"]

(ShallowNN(
   (net): Sequential(
     (0): Linear(in_features=21, out_features=64, bias=True)
     (1): Tanh()
     (2): Linear(in_features=64, out_features=21, bias=True)
     (3): Sigmoid()
   )
 ),
 ['sales_day_1',
  'sales_day_2',
  'sales_day_3',
  'sales_day_4',
  'sales_day_5',
  'sales_day_6',
  'sales_day_7',
  'store_med_day_1',
  'store_med_day_2',
  'store_med_day_3',
  'store_med_day_4',
  'store_med_day_5',
  'store_med_day_6',
  'store_med_day_7',
  'item_med_day_1',
  'item_med_day_2',
  'item_med_day_3',
  'item_med_day_4',
  'item_med_day_5',
  'item_med_day_6',
  'item_med_day_7'])

In [19]:
# load
data = pd.read_excel("../output/data/scaled_train_nonoverlap_top_10_store_item_X_y.xlsx")
data.head(5)

,date,store_item,store,item,sales_day_1,sales_day_2,sales_day_3,sales_day_4,sales_day_5,sales_day_6,...,y_store_med_day_5,y_store_med_day_6,y_store_med_day_7,y_item_med_day_1,y_item_med_day_2,y_item_med_day_3,y_item_med_day_4,y_item_med_day_5,y_item_med_day_6,y_item_med_day_7
0,2013-01-07,3_1047679,3,1047679,0.458730,0.073355,0.098931,0.201942,0.392058,0.811775,...,0.248855,0.293631,0.37344,0.655298,0.424149,0.176024,0.202652,0.437086,0.675746,0.711467
1,2013-01-07,3_114790,3,114790,0.022222,0.002373,0.003231,0.006214,0.010830,0.017841,...,0.248855,0.293631,0.37344,0.018270,0.018576,0.040971,0.030303,0.027815,0.068742,0.069051
2,2013-01-07,3_305229,3,305229,0.070635,0.012513,0.020134,0.019029,0.080144,0.075825,...,0.248855,0.293631,0.37344,0.060901,0.074303,0.110774,0.056818,0.047682,0.089494,0.123305
3,2013-01-07,3_314384,3,314384,0.084127,0.014671,0.020880,0.021359,0.051986,0.080285,...,0.248855,0.293631,0.37344,0.123021,0.160991,0.201821,0.155303,0.156291,0.280156,0.314427
4,2013-01-07,3_364606,3,364606,0.099206,0.022654,0.026597,0.028738,0.062094,0.116860,...,0.248855,0.293631,0.37344,0.210719,0.243034,0.295903,0.301136,0.196026,0.315175,0.383477

In [20]:
data.dtypes

date                 datetime64[ns]
store_item                   object
store                         int64
item                          int64
sales_day_1                 float64
sales_day_2                 float64
sales_day_3                 float64
sales_day_4                 float64
sales_day_5                 float64
sales_day_6                 float64
sales_day_7                 float64
store_med_day_1             float64
store_med_day_2             float64
store_med_day_3             float64
store_med_day_4             float64
store_med_day_5             float64
store_med_day_6             float64
store_med_day_7             float64
item_med_day_1              float64
item_med_day_2              float64
item_med_day_3              float64
item_med_day_4              float64
item_med_day_5              float64
item_med_day_6              float64
item_med_day_7              float64
y_sales_day_1               float64
y_sales_day_2               float64
y_sales_day_3               float64
y_sales_day_4               float64
y_sales_day_5               float64
y_sales_day_6               float64
y_sales_day_7               float64
y_store_med_day_1           float64
y_store_med_day_2           float64
y_store_med_day_3           float64
y_store_med_day_4           float64
y_store_med_day_5           float64
y_store_med_day_6           float64
y_store_med_day_7           float64
y_item_med_day_1            float64
y_item_med_day_2            float64
y_item_med_day_3            float64
y_item_med_day_4            float64
y_item_med_day_5            float64
y_item_med_day_6            float64
y_item_med_day_7            float64
dtype: object

In [21]:
data.columns

Index(['date', 'store_item', 'store', 'item', 'sales_day_1', 'sales_day_2',
       'sales_day_3', 'sales_day_4', 'sales_day_5', 'sales_day_6',
       'sales_day_7', 'store_med_day_1', 'store_med_day_2', 'store_med_day_3',
       'store_med_day_4', 'store_med_day_5', 'store_med_day_6',
       'store_med_day_7', 'item_med_day_1', 'item_med_day_2', 'item_med_day_3',
       'item_med_day_4', 'item_med_day_5', 'item_med_day_6', 'item_med_day_7',
       'y_sales_day_1', 'y_sales_day_2', 'y_sales_day_3', 'y_sales_day_4',
       'y_sales_day_5', 'y_sales_day_6', 'y_sales_day_7', 'y_store_med_day_1',
       'y_store_med_day_2', 'y_store_med_day_3', 'y_store_med_day_4',
       'y_store_med_day_5', 'y_store_med_day_6', 'y_store_med_day_7',
       'y_item_med_day_1', 'y_item_med_day_2', 'y_item_med_day_3',
       'y_item_med_day_4', 'y_item_med_day_5', 'y_item_med_day_6',
       'y_item_med_day_7'],
      dtype='object')

In [22]:

last_day_data = data.sort_values("date").groupby("store_item", as_index=False).tail(1)
last_day_data

,date,store_item,store,item,sales_day_1,sales_day_2,sales_day_3,sales_day_4,sales_day_5,sales_day_6,...,y_store_med_day_5,y_store_med_day_6,y_store_med_day_7,y_item_med_day_1,y_item_med_day_2,y_item_med_day_3,y_item_med_day_4,y_item_med_day_5,y_item_med_day_6,y_item_med_day_7
23862,2017-08-08,49_314384,49,314384,0.050794,0.012945,0.010937,0.027184,0.064260,0.064228,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23870,2017-08-08,50_114790,50,114790,0.020635,0.003452,0.003480,0.012039,0.028159,0.033006,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23869,2017-08-08,50_1047679,50,1047679,0.016667,0.004099,0.004474,0.010485,0.020939,0.050847,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23868,2017-08-08,49_584028,49,584028,0.068733,0.013985,0.018653,0.045159,0.070055,0.091351,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23867,2017-08-08,49_582864,49,582864,0.030834,0.022324,0.019993,0.040632,0.022336,0.046503,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23826,2017-08-08,45_581078,45,581078,0.007937,0.003883,0.004226,0.006602,0.015162,0.019625,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23825,2017-08-08,45_567623,45,567623,0.046032,0.010140,0.009943,0.022913,0.028159,0.057984,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23823,2017-08-08,45_364606,45,364606,0.053968,0.014239,0.015411,0.039223,0.074368,0.090990,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23834,2017-08-08,46_502331,46,502331,0.032540,0.008846,0.011683,0.009320,0.038989,0.070473,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23898,2017-08-08,8_584028,8,584028,0.020231,0.004313,0.004731,0.012099,0.015586,0.028400,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [23]:
print("Unique (store, item) pairs:", last_day_data["store_item"].nunique())

Unique (store, item) pairs: 100

In [24]:
last_day_data.columns

Index(['date', 'store_item', 'store', 'item', 'sales_day_1', 'sales_day_2',
       'sales_day_3', 'sales_day_4', 'sales_day_5', 'sales_day_6',
       'sales_day_7', 'store_med_day_1', 'store_med_day_2', 'store_med_day_3',
       'store_med_day_4', 'store_med_day_5', 'store_med_day_6',
       'store_med_day_7', 'item_med_day_1', 'item_med_day_2', 'item_med_day_3',
       'item_med_day_4', 'item_med_day_5', 'item_med_day_6', 'item_med_day_7',
       'y_sales_day_1', 'y_sales_day_2', 'y_sales_day_3', 'y_sales_day_4',
       'y_sales_day_5', 'y_sales_day_6', 'y_sales_day_7', 'y_store_med_day_1',
       'y_store_med_day_2', 'y_store_med_day_3', 'y_store_med_day_4',
       'y_store_med_day_5', 'y_store_med_day_6', 'y_store_med_day_7',
       'y_item_med_day_1', 'y_item_med_day_2', 'y_item_med_day_3',
       'y_item_med_day_4', 'y_item_med_day_5', 'y_item_med_day_6',
       'y_item_med_day_7'],
      dtype='object')

In [28]:
store_medians = last_day_data.groupby("store")["sales_day_7"].median()
item_medians = last_day_data.groupby("item")["sales_day_7"].median()
print("Store medians:", store_medians)
print("Item medians:", item_medians)

Store medians: store
3     0.038100
8     0.022668
44    0.054992
45    0.053851
46    0.047131
47    0.059836
48    0.040984
49    0.047309
50    0.040984
51    0.023361
Name: sales_day_7, dtype: float64
Item medians: item
114790     0.019672
305229     0.029098
314384     0.057787
364606     0.053689
502331     0.045492
567623     0.020902
581078     0.015164
582864     0.051872
584028     0.088464
1047679    0.097541
Name: sales_day_7, dtype: float64

In [39]:
store_smoothOnlineMedians = {}
eta = 0.001
for store in store_medians.keys():
    print(f"Store {store}: {store_medians[store]}")
    store_smoothOnlineMedians[store] = SmoothOnlineMedian(store_medians[store], eta=eta)

Store 3: 0.03809959068894386
Store 8: 0.022668032906949524
Store 44: 0.054992213845253
Store 45: 0.053850820288062096
Store 46: 0.04713114909827709
Store 47: 0.05983606539666653
Store 48: 0.04098360612988472
Store 49: 0.047308607026934624
Store 50: 0.04098360799252987
Store 51: 0.023360655643045906

In [40]:
store_smoothOnlineMedians

{3: <utils.SmoothOnlineMedian at 0x13d3bf350>,
 8: <utils.SmoothOnlineMedian at 0x13a591b20>,
 44: <utils.SmoothOnlineMedian at 0x13d3bf980>,
 45: <utils.SmoothOnlineMedian at 0x13d3bf9b0>,
 46: <utils.SmoothOnlineMedian at 0x13d3bf380>,
 47: <utils.SmoothOnlineMedian at 0x13d3bee40>,
 48: <utils.SmoothOnlineMedian at 0x13d3bf0e0>,
 49: <utils.SmoothOnlineMedian at 0x13d3beea0>,
 50: <utils.SmoothOnlineMedian at 0x13d3bd730>,
 51: <utils.SmoothOnlineMedian at 0x13d3bcbf0>}

In [34]:
# Compute store-level medians for sales_day_7
store_medians = {}

for store, group in last_day_data.groupby("store"):
    rm = RunningMedian()
    for val in group["sales_day_7"]:
        rm.add(val)
    store_medians[store] = rm.median()
    
# Compute item-level medians for sales_day_7
item_medians = {}
for item, group in last_day_data.groupby("item"):
    rm = RunningMedian()
    for val in group["sales_day_7"]:
        rm.add(val)
    item_medians[item] = rm.median()

# Convert to DataFrames for viewing
store_medians_df = pd.DataFrame(store_medians.items(), columns=["store", "sales_day_7_median"])
item_medians_df = pd.DataFrame(item_medians.items(), columns=["item", "sales_day_7_median"])

In [35]:
store_medians_df

   store  sales_day_7_median
0      3            0.038100
1      8            0.022668
2     44            0.054992
3     45            0.053851
4     46            0.047131
5     47            0.059836
6     48            0.040984
7     49            0.047309
8     50            0.040984
9     51            0.023361

In [47]:
# Define initial history structure
sales_history = defaultdict(lambda: deque(maxlen=7))

# Identify sales_day columns
sales_cols = [f"sales_day_{i}" for i in range(1, 8)]

# Assume last_day_data is the DataFrame you've filtered already
for _, row in last_day_data.iterrows():
    store_item = row["store_item"]
    past_sales = row[sales_cols].tolist()
    sales_history[store_item] = deque(past_sales, maxlen=7)
sales_history

defaultdict(<function __main__.<lambda>()>,
            {'49_314384': deque([0.05079365149140358,
                    0.01294498424977064,
                    0.01093711145222187,
                    0.02718446590006351,
                    0.06425993144512177,
                    0.0642283633351326,
                    0.05573770403862],
                   maxlen=7),
             '50_114790': deque([0.02063492126762867,
                    0.003451995784416795,
                    0.003479990176856518,
                    0.01203883532434702,
                    0.02815884537994862,
                    0.03300624340772629,
                    0.01803278736770153],
                   maxlen=7),
             '50_1047679': deque([0.01666666753590107,
                    0.004099245183169842,
                    0.004474272951483727,
                    0.01048543676733971,
                    0.02093862928450108,
                    0.05084745585918427,
                    0.03442623093724251],
                   maxlen=7),
             '49_584028': deque([0.06873253732919693,
                    0.0139846820384264,
                    0.01865349337458611,
                    0.04515883326530457,
                    0.07005487382411957,
                    0.0913514718413353,
                    0.1069393455982208],
                   maxlen=7),
             '49_582864': deque([0.03083412908017635,
                    0.02232384122908115,
                    0.01999254338443279,
                    0.04063223302364349,
                    0.02233573980629444,
                    0.04650312289595604,
                    0.04625655710697174],
                   maxlen=7),
             '49_581078': deque([0.007142857182770967,
                    0.001510248170234263,
                    0.001242853584699333,
                    0.002330097137019038,
                    0.005054151639342308,
                    0.007136485073715448,
                    0.009836065582931042],
                   maxlen=7),
             '49_567623': deque([0.03015873022377491,
                    0.00496224407106638,
                    0.006214268039911985,
                    0.008543689735233784,
                    0.02021660655736923,
                    0.03479036316275597,
                    0.03278688341379166],
                   maxlen=7),
             '49_502331': deque([0.04603174701333046,
                    0.0140237333253026,
                    0.01615709625184536,
                    0.02019417472183704,
                    0.03249097615480423,
                    0.05352363735437393,
                    0.04836065694689751],
                   maxlen=7),
             '49_364606': deque([0.05714285746216774,
                    0.01186623517423868,
                    0.01292567793279886,
                    0.02330097183585167,
                    0.03465703874826431,
                    0.05441569909453392,
                    0.05081967264413834],
                   maxlen=7),
             '49_305229': deque([0.01746031828224659,
                    0.007335491012781858,
                    0.009445687755942345,
                    0.01514563150703907,
                    0.03321299701929092,
                    0.03122212179005146,
                    0.03770491853356361],
                   maxlen=7),
             '48_114790': deque([0.02063492126762867,
                    0.006472492124885321,
                    0.006214268039911985,
                    0.01747572794556618,
                    0.04332130029797554,
                    0.03479036316275597,
                    0.02540983632206917],
                   maxlen=7),
             '49_1047679': deque([0.0595238097012043,
                    0.01014023739844561,
                    0.010688541457057,
                    0.03533980622887611,
                    0.05342960357666016,
                    0.06066012382507324,
                    0.0590163916349411],
                   maxlen=7),
             '48_584028': deque([0.1306444406509399,
                    0.03578273952007294,
                    0.0476611964404583,
                    0.1180714592337608,
                    0.1291046887636185,
                    0.2556984722614288,
                    0.2080622911453247],
                   maxlen=7),
             '48_582864': deque([0.05444523692131042,
                    0.01032448746263981,
                    0.01622098125517368,
                    0.07116544246673584,
                    0.05286209285259247,
                    0.09326314926147461,
                    0.05665409564971924],
                   maxlen=7),
             '48_581078': deque([0.01587301678955555,
                    0.005393743515014648,
                    0.006214268039911985,
                    0.01009708736091852,
                    0.02093862928450108,
                    0.0321141816675663,
                    0.01311475411057472],
                   maxlen=7),
             '48_567623': deque([0.02063492126762867,
                    0.004099245183169842,
                    0.00372856087051332,
                    0.008932039141654968,
                    0.02310469374060631,
                    0.03835860639810562,
                    0.01721311546862125],
                   maxlen=7),
             '48_502331': deque([0.0357142873108387,
                    0.01035598758608103,
                    0.01267710700631142,
                    0.02213592268526554,
                    0.03754512593150139,
                    0.06779661029577255,
                    0.0590163916349411],
                   maxlen=7),
             '48_364606': deque([0.0515873022377491,
                    0.01057173684239388,
                    0.00820283405482769,
                    0.02718446590006351,
                    0.04620938748121262,
                    0.07136484980583191,
                    0.04016393423080444],
                   maxlen=7),
             '48_314384': deque([0.03015873022377491,
                    0.007119741290807724,
                    0.01043997053056955,
                    0.02951456420123577,
                    0.05342960357666016,
                    0.07582515478134155,
                    0.041803278028965],
                   maxlen=7),
             '48_305229': deque([0.01190476212650537,
                    0.006040992680937052,
                    0.004971414338797331,
                    0.01320388354361057,
                    0.01371841225773096,
                    0.01694915257394314,
                    0.02704918012022972],
                   maxlen=7),
             '50_305229': deque([0.01269841287285089,
                    0.004099245183169842,
                    0.005717126652598381,
                    0.01048543676733971,
                    0.01155234687030315,
                    0.02497769705951214,
                    0.01475409790873528],
                   maxlen=7),
             '49_114790': deque([0.01507936511188745,
                    0.004099245183169842,
                    0.004225702490657568,
                    0.01048543676733971,
                    0.01299639046192169,
                    0.01784121245145798,
                    0.01639344170689583],
                   maxlen=7),
             '50_314384': deque([0.06587301939725876,
                    0.01467098202556372,
                    0.01615709625184536,
                    0.03029126301407814,
                    0.06137184426188469,
                    0.08296164125204086,
                    0.05491803213953972],
                   maxlen=7),
             '8_581078': deque([0.01269841287285089,
                    0.003883495228365064,
                    0.001739995088428259,
                    0.005436893552541733,
                    0.01010830327868462,
                    0.009812667034566402,
                    0.01147541031241417],
                   maxlen=7),
             '50_502331': deque([0.03253968432545662,
                    0.0120819853618741,
                    0.008948545902967453,
                    0.01669902913272381,
                    0.02671480178833008,
                    0.04460303112864494,
                    0.03606557473540306],
                   maxlen=7),
             '48_1047679': deque([0.03333333507180214,
                    0.007335491012781858,
                    0.01043997053056955,
                    0.03805825486779213,
                    0.04043321311473846,
                    0.1043710932135582,
                    0.06393442302942276],
                   maxlen=7),
             '8_567623': deque([0.01269841287285089,
                    0.002588996896520257,
                    0.003479990176856518,
                    0.005436893552541733,
                    0.007220217026770115,
                    0.01873327419161797,
                    0.01557377073913813],
                   maxlen=7),
             '8_502331': deque([0.02777777798473835,
                    0.008629989810287952,
                    0.007705692201852798,
                    0.0124271847307682,
                    0.03249097615480423,
                    0.03657448664307594,
                    0.03032786957919598],
                   maxlen=7),
             '8_364606': deque([0.02222222276031971,
                    0.01057173684239388,
                    0.008699974976480007,
                    0.01087378710508347,
                    0.02454873733222485,
                    0.02943800017237663,
                    0.02377049252390862],
                   maxlen=7),
             '8_314384': deque([0.01984127052128315,
                    0.006256742402911186,
                    0.009197116829454899,
                    0.009708737954497337,
                    0.02599278092384338,
                    0.03835860639810562,
                    0.03196721151471138],
                   maxlen=7),
             '8_305229': deque([0.01349206361919641,
                    0.004314994905143976,
                    0.006214268039911985,
                    0.006990291178226471,
                    0.01371841225773096,
                    0.01248884852975607,
                    0.01803278736770153],
                   maxlen=7),
             '8_114790': deque([0.005555555690079927,
                    0.002804746618494391,
                    0.0009942828910425305,
                    0.003495145589113235,
                    0.005054151639342308,
                    0.007136485073715448,
                    0.007377048954367638],
                   maxlen=7),
             '8_1047679': deque([0.075396828353405,
                    0.05436893180012703,
                    0.06785980612039566,
                    0.0594174787402153,
                    0.09891697019338608,
                    0.1070472747087479,
                    0.1573770493268967],
                   maxlen=7),
             '51_584028': deque([0.03141745924949646,
                    0.002512837294489145,
                    0.00665349280461669,
                    0.01314369030296803,
                    0.01072418782860041,
                    0.008205173537135124,
                    0.002890164032578468],
                   maxlen=7),
             '51_582864': deque([0.02213888987898827,
                    0.005564832594245672,
                    0.01075391564518213,
                    0.03575106710195541,
                    0.01136462111026049,
                    0.02711239829659462,
                    0.0386032797396183],
                   maxlen=7),
             '50_364606': deque([0.0555555559694767,
                    0.01359223295003176,
                    0.01416853163391352,
                    0.02640776708722115,
                    0.06209386512637138,
                    0.06868866831064224,
                    0.05737704783678055],
                   maxlen=7),
             '51_581078': deque([0.01428571436554193,
                    0.006256742402911186,
                    0.004474272951483727,
                    0.01165048591792583,
                    0.01877256296575069,
                    0.02765388041734695,
                    0.013934426009655],
                   maxlen=7),
             '51_502331': deque([0.04126984253525734,
                    0.01229773461818695,
                    0.004225702490657568,
                    0.0225242730230093,
                    0.02960288897156715,
                    0.07493309676647186,
                    0.03606557473540306],
                   maxlen=7),
             '51_364606': deque([0.02936507947742939,
                    0.005825242958962917,
                    0.005468555726110935,
                    0.01203883532434702,
                    0.03032490983605385,
                    0.03122212179005146,
                    0.03032786957919598],
                   maxlen=7),
             '51_314384': deque([0.01428571436554193,
                    0.00949298869818449,
                    0.008451404981315136,
                    0.01398058235645294,
                    0.01877256296575069,
                    0.04281891137361526,
                    0.03360655903816223],
                   maxlen=7),
             '51_305229': deque([0.01746031828224659,
                    0.005177993793040514,
                    0.003479990176856518,
                    0.005825242958962917,
                    0.01444043405354023,
                    0.01784121245145798,
                    0.01639344170689583],
                   maxlen=7),
             '51_114790': deque([0.001587301609106362,
                    0.0002157497365260497,
                    0.0007457121973857284,
                    0.003495145589113235,
                    0.009386281482875347,
                    0.01248884852975607,
                    0.006557377055287361],
                   maxlen=7),
             '51_1047679': deque([0.02301587350666523,
                    0.0120819853618741,
                    0.007954263128340244,
                    0.02718446590006351,
                    0.06498195230960846,
                    0.0561998188495636,
                    0.03032786957919598],
                   maxlen=7),
             '50_584028': deque([0.1375960409641266,
                    0.02847335487604141,
                    0.02384340018033981,
                    0.04220271855592728,
                    0.101107582449913,
                    0.09468956291675568,
                    0.1076245903968811],
                   maxlen=7),
             '50_582864': deque([0.04105396941304207,
                    0.007841208949685097,
                    0.0208284854888916,
                    0.0759025290608406,
                    0.03938700258731842,
                    0.05708296224474907,
                    0.0470893457531929],
                   maxlen=7),
             '50_581078': deque([0.03492063656449318,
                    0.009277238510549068,
                    0.009445687755942345,
                    0.02407767064869404,
                    0.02671480178833008,
                    0.04281891137361526,
                    0.04590164124965668],
                   maxlen=7),
             '50_567623': deque([0.009523809887468815,
                    0.004099245183169842,
                    0.003479990176856518,
                    0.005048543680459261,
                    0.01299639046192169,
                    0.0196253340691328,
                    0.01803278736770153],
                   maxlen=7),
             '51_567623': deque([0.01269841287285089,
                    0.003451995784416795,
                    0.003231419483199716,
                    0.01009708736091852,
                    0.01083032507449389,
                    0.02051739394664764,
                    0.01065573748201132],
                   maxlen=7),
             '47_584028': deque([0.1020317450165749,
                    0.01725436933338642,
                    0.02849341370165348,
                    0.04072970896959305,
                    0.08307003974914551,
                    0.1031480804085732,
                    0.1043877005577087],
                   maxlen=7),
             '45_502331': deque([0.0555555559694767,
                    0.009061489254236221,
                    0.01292567793279886,
                    0.02213592268526554,
                    0.04476534575223923,
                    0.07047279179096222,
                    0.04262294992804527],
                   maxlen=7),
             '47_581078': deque([0.02777777798473835,
                    0.007119741290807724,
                    0.006959980353713036,
                    0.01825242675840855,
                    0.018050542101264,
                    0.03300624340772629,
                    0.02540983632206917],
                   maxlen=7),
             '44_584028': deque([0.0266079381108284,
                    0.01313462853431702,
                    0.01415137946605682,
                    0.03812504932284355,
                    0.03995379060506821,
                    0.02683139964938164,
                    0.05670573934912682],
                   maxlen=7),
             '44_582864': deque([0.04873491823673248,
                    0.01428824197500944,
                    0.01139423344284296,
                    0.04227107018232346,
                    0.03838556259870529,
                    0.05793131142854691,
                    0.06695901602506638],
                   maxlen=7),
             '44_581078': deque([0.02063492126762867,
                    0.004530744627118111,
                    0.008948545902967453,
                    0.01320388354361057,
                    0.01660649850964546,
                    0.03033006191253662,
                    0.02377049252390862],
                   maxlen=7),
             '44_567623': deque([0.0317460335791111,
                    0.005609493236988783,
                    0.00745712174102664,
                    0.01864077709615231,
                    0.036101084202528,
                    0.05352363735437393,
                    0.02950819581747055],
                   maxlen=7),
             '44_502331': deque([0.05396825447678566,
                    0.0140237333253026,
                    0.0154113844037056,
                    0.03223301097750664,
                    0.05920577794313431,
                    0.09723460674285889,
                    0.06721311807632446],
                   maxlen=7),
             '44_364606': deque([0.04841269925236702,
                    0.0140237333253026,
                    0.01690280996263027,
                    0.0205825250595808,
                    0.04115523397922516,
                    0.05530776083469391,
                    0.05327868834137917],
                   maxlen=7),
             '44_314384': deque([0.05000000074505806,
                    0.01661272905766964,
                    0.01043997053056955,
                    0.03533980622887611,
                    0.07653430104255676,
                    0.07850133627653122,
                    0.06639344245195389],
                   maxlen=7),
             '44_305229': deque([0.02619047649204731,
                    0.01251348480582237,
                    0.007954263128340244,
                    0.01864077709615231,
                    0.02743682451546192,
                    0.03925066813826561,
                    0.03114754147827625],
                   maxlen=7),
             '44_114790': deque([0.01349206361919641,
                    0.00496224407106638,
                    0.005468555726110935,
                    0.0124271847307682,
                    0.023826714605093,
                    0.02586975879967213,
                    0.02049180306494236],
                   maxlen=7),
             '44_1047679': deque([0.2650793790817261,

In [ ]:
predictions = []

for _, row in df.iterrows():
    sid = row['sid']
    model_info = models.get(sid)
    if model_info:
        features = preprocess_row(row, model_info['feature_cols'])
        input_tensor = torch.tensor(features).unsqueeze(0)  # Add batch dimension
        with torch.no_grad():
            pred = model_info['model'](input_tensor).item()
    else:
        pred = 0  # or np.nan, or some fallback model
    predictions.append(pred)

test_df['unit_sales'] = predictions