In [1]:
import pandas as pd

In [3]:
df = pd.read_excel(
    "../output/data/test_top_10_store_10_store_item.xlsx",
)
df = df.sort_values(by=['date', 'store_item'])
df = df.reset_index(drop=True)
df.head(5)

        date store_item  store_nbr  item_nbr  onpromotion  unit_sales
0 2017-08-16  3_1047679          3   1047679            0           0
1 2017-08-16   3_114790          3    114790            1           0
2 2017-08-16   3_305229          3    305229            0           0
3 2017-08-16   3_314384          3    314384            1           0
4 2017-08-16   3_364606          3    364606            0           0