In [2]:

import pandas as pd
import numpy as np
import pickle
from datetime import datetime
from pathlib import Path
import sys
sys.path.insert(0, "..")   
from src.utils import load_raw_data

In [4]:
df = load_raw_data(Path("../output/data/train_top_store_15_item.parquet"))
df.head()

2025-07-17 11:51:56,626 - INFO - Loading data from ../output/data/train_top_store_15_item.parquet
2025-07-17 11:51:56,815 - INFO - Loaded data with shape (4606, 8)
/Users/yvesgreatti/github/kaggle_favorita_grocery_sales_forecasting/notebook/../src/utils.py:122: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df.fillna(0, inplace=True)
2025-07-17 11:51:56,820 - INFO - Filled NaN values with 0

        date store_item  store     item  unit_sales   id  onpromotion  weight
0 2014-01-01          0     32  1331407         0.0  0.0            0     0.0
1 2014-01-02          0     32  1331407         0.0  0.0            0     0.0
2 2014-01-03          0     32  1331407         0.0  0.0            0     0.0
3 2014-01-04          0     32  1331407         0.0  0.0            0     0.0
4 2014-01-05          0     32  1331407         0.0  0.0            0     0.0

In [5]:
df["weight"].unique()

array([0., 1.], dtype=float32)