In [171]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.preprocessing import MinMaxScaler

In [172]:
import sys
sys.path.insert(0, "..")   
from src.utils import generate_cyclical_features, generate_nonoverlap_window_features

In [173]:
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [174]:
dtype_dict={"id":np.uint32,
            "store_nbr":np.uint8,
            "item_nbr":np.uint32,
            "unit_sales":np.float32
           }
df = pd.read_csv("../output/data/train_top_10_store_10_item.csv", dtype=dtype_dict)
cols = ['date', 'store_item', 'store_nbr', 'item_nbr'] + [c for c in df.columns 
                                  if c not in ('date', 'store_item', 'store_nbr', 'item_nbr')]
df = df[cols]
df.rename(columns={"store_nbr": "store", "item_nbr": "item"}, inplace=True)
df["date"] = pd.to_datetime(df["date"])
df.sort_values("date", inplace=True)
df.reset_index(drop=True, inplace=True)
df.head(5)

/var/folders/w3/d06m5l_97yn4bnxd5t6cgbjr0000gn/T/ipykernel_28920/2905051343.py:6: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("../output/data/train_top_10_store_10_item.csv", dtype=dtype_dict)

        date store_item  store    item  unit_sales onpromotion
0 2013-01-07  48_502331     48  502331    70.00000         NaN
1 2013-01-07  46_584028     46  584028   304.27301         NaN
2 2013-01-07   3_114790      3  114790    28.00000         NaN
3 2013-01-07   3_305229      3  305229    89.00000         NaN
4 2013-01-07   3_314384      3  314384   106.00000         NaN

In [175]:
df.head(5)

        date store_item  store    item  unit_sales onpromotion
0 2013-01-07  48_502331     48  502331    70.00000         NaN
1 2013-01-07  46_584028     46  584028   304.27301         NaN
2 2013-01-07   3_114790      3  114790    28.00000         NaN
3 2013-01-07   3_305229      3  305229    89.00000         NaN
4 2013-01-07   3_314384      3  314384   106.00000         NaN

In [176]:
df.dtypes

date           datetime64[ns]
store_item             object
store                   uint8
item                   uint32
unit_sales            float32
onpromotion            object
dtype: object

In [177]:
non_overlap_df = generate_nonoverlap_window_features(df.query("store_item == '3_114790'"), window_size=15)
non_overlap_df.head()

,start_date,store_item,store,item,sales_day_1,sales_day_2,sales_day_3,sales_day_4,sales_day_5,sales_day_6,...,item_med_day_6,item_med_day_7,item_med_day_8,item_med_day_9,item_med_day_10,item_med_day_11,item_med_day_12,item_med_day_13,item_med_day_14,item_med_day_15
0,2013-01-07,3_114790,3,114790,28.0,11.0,13.0,16.0,15.0,20.0,...,20.0,28.0,16.0,14.0,22.0,19.0,23.0,27.0,35.0,21.0
1,2013-01-22,3_114790,3,114790,14.0,17.0,14.0,17.0,18.0,37.0,...,37.0,13.0,16.0,20.0,18.0,18.0,33.0,36.0,31.0,18.0
2,2013-02-06,3_114790,3,114790,25.0,17.0,20.0,23.0,15.0,15.0,...,15.0,17.0,10.0,17.0,20.0,30.0,26.0,22.0,28.0,29.0
3,2013-02-21,3_114790,3,114790,19.0,18.0,28.0,19.0,11.0,16.0,...,16.0,16.0,14.0,22.0,41.0,36.0,24.0,18.0,24.0,17.0
4,2013-03-08,3_114790,3,114790,19.0,38.0,35.0,23.0,20.0,20.0,...,20.0,11.0,29.0,33.0,63.0,16.0,18.0,36.0,17.0,21.0

In [178]:
non_overlap_df.columns.to_list()

['start_date',
 'store_item',
 'store',
 'item',
 'sales_day_1',
 'sales_day_2',
 'sales_day_3',
 'sales_day_4',
 'sales_day_5',
 'sales_day_6',
 'sales_day_7',
 'sales_day_8',
 'sales_day_9',
 'sales_day_10',
 'sales_day_11',
 'sales_day_12',
 'sales_day_13',
 'sales_day_14',
 'sales_day_15',
 'store_med_day_1',
 'store_med_day_2',
 'store_med_day_3',
 'store_med_day_4',
 'store_med_day_5',
 'store_med_day_6',
 'store_med_day_7',
 'store_med_day_8',
 'store_med_day_9',
 'store_med_day_10',
 'store_med_day_11',
 'store_med_day_12',
 'store_med_day_13',
 'store_med_day_14',
 'store_med_day_15',
 'item_med_day_1',
 'item_med_day_2',
 'item_med_day_3',
 'item_med_day_4',
 'item_med_day_5',
 'item_med_day_6',
 'item_med_day_7',
 'item_med_day_8',
 'item_med_day_9',
 'item_med_day_10',
 'item_med_day_11',
 'item_med_day_12',
 'item_med_day_13',
 'item_med_day_14',
 'item_med_day_15']

In [179]:
non_overlap_df.shape

(112, 49)

In [180]:
non_overlap_df.to_excel("../output/data/train_3_114790_sales_2_days.xlsx",
            index=False)

In [181]:
non_overlap_df2 = generate_cyclical_features(df.query("store_item == '3_114790'"), window_size=15)
non_overlap_df2.head()

,start_date,store_item,store,item,dayofweek_sin_1,dayofweek_cos_1,weekofmonth_sin_1,weekofmonth_cos_1,dayofweek_sin_2,dayofweek_cos_2,...,weekofmonth_sin_13,weekofmonth_cos_13,dayofweek_sin_14,dayofweek_cos_14,weekofmonth_sin_14,weekofmonth_cos_14,dayofweek_sin_15,dayofweek_cos_15,weekofmonth_sin_15,weekofmonth_cos_15
0,2013-01-07,3_114790,3,114790,0.000000,1.000000,0.951057,0.309017,0.781831,0.623490,...,-0.587785,-0.809017,-0.781831,0.623490,-0.587785,-0.809017,0.000000,1.000000,-0.587785,-0.809017
1,2013-01-22,3_114790,3,114790,0.781831,0.623490,-0.951057,0.309017,0.974928,-0.222521,...,0.951057,0.309017,0.000000,1.000000,0.951057,0.309017,0.781831,0.623490,0.951057,0.309017
2,2013-02-06,3_114790,3,114790,0.974928,-0.222521,0.951057,0.309017,0.433884,-0.900969,...,-0.587785,-0.809017,0.781831,0.623490,-0.587785,-0.809017,0.974928,-0.222521,-0.587785,-0.809017
3,2013-02-21,3_114790,3,114790,0.433884,-0.900969,-0.587785,-0.809017,-0.433884,-0.900969,...,0.951057,0.309017,0.974928,-0.222521,0.951057,0.309017,0.433884,-0.900969,0.951057,0.309017
4,2013-03-08,3_114790,3,114790,-0.433884,-0.900969,0.587785,-0.809017,-0.974928,-0.222521,...,-0.587785,-0.809017,0.433884,-0.900969,-0.587785,-0.809017,-0.433884,-0.900969,-0.951057,0.309017

In [182]:
non_overlap_df2.columns.to_list()

['start_date',
 'store_item',
 'store',
 'item',
 'dayofweek_sin_1',
 'dayofweek_cos_1',
 'weekofmonth_sin_1',
 'weekofmonth_cos_1',
 'dayofweek_sin_2',
 'dayofweek_cos_2',
 'weekofmonth_sin_2',
 'weekofmonth_cos_2',
 'dayofweek_sin_3',
 'dayofweek_cos_3',
 'weekofmonth_sin_3',
 'weekofmonth_cos_3',
 'dayofweek_sin_4',
 'dayofweek_cos_4',
 'weekofmonth_sin_4',
 'weekofmonth_cos_4',
 'dayofweek_sin_5',
 'dayofweek_cos_5',
 'weekofmonth_sin_5',
 'weekofmonth_cos_5',
 'dayofweek_sin_6',
 'dayofweek_cos_6',
 'weekofmonth_sin_6',
 'weekofmonth_cos_6',
 'dayofweek_sin_7',
 'dayofweek_cos_7',
 'weekofmonth_sin_7',
 'weekofmonth_cos_7',
 'dayofweek_sin_8',
 'dayofweek_cos_8',
 'weekofmonth_sin_8',
 'weekofmonth_cos_8',
 'dayofweek_sin_9',
 'dayofweek_cos_9',
 'weekofmonth_sin_9',
 'weekofmonth_cos_9',
 'dayofweek_sin_10',
 'dayofweek_cos_10',
 'weekofmonth_sin_10',
 'weekofmonth_cos_10',
 'dayofweek_sin_11',
 'dayofweek_cos_11',
 'weekofmonth_sin_11',
 'weekofmonth_cos_11',
 'dayofweek_sin_12',
 'dayofweek_cos_12',
 'weekofmonth_sin_12',
 'weekofmonth_cos_12',
 'dayofweek_sin_13',
 'dayofweek_cos_13',
 'weekofmonth_sin_13',
 'weekofmonth_cos_13',
 'dayofweek_sin_14',
 'dayofweek_cos_14',
 'weekofmonth_sin_14',
 'weekofmonth_cos_14',
 'dayofweek_sin_15',
 'dayofweek_cos_15',
 'weekofmonth_sin_15',
 'weekofmonth_cos_15']

In [183]:
non_overlap_df2.shape

(112, 64)

In [184]:
# Define the keys used for merging
merge_keys = ["start_date", "store_item", "store", "item"]

# Identify missing rows from non_overlap_df2 that are not in non_overlap_df
missing_from_df = non_overlap_df.merge(
    non_overlap_df2[merge_keys],
    on=merge_keys,
    how="left",
    indicator=True
).query('_merge == "left_only"')

# Optional: drop the merge indicator column
missing_from_df = missing_from_df.drop(columns="_merge")

# Show how many are missing
print(f"Missing rows in non_overlap_df: {missing_from_df.shape[0]}")

Missing rows in non_overlap_df: 0

In [185]:
non_overlap_df2.to_excel("../output/data/train_3_114790_cyclical_features_2_days.xlsx",
            index=False)

In [186]:
non_overlap_df = pd.merge(non_overlap_df, non_overlap_df2, on=["store_item", "start_date", "store", "item" ])
non_overlap_df.head()

,start_date,store_item,store,item,sales_day_1,sales_day_2,sales_day_3,sales_day_4,sales_day_5,sales_day_6,...,weekofmonth_sin_13,weekofmonth_cos_13,dayofweek_sin_14,dayofweek_cos_14,weekofmonth_sin_14,weekofmonth_cos_14,dayofweek_sin_15,dayofweek_cos_15,weekofmonth_sin_15,weekofmonth_cos_15
0,2013-01-07,3_114790,3,114790,28.0,11.0,13.0,16.0,15.0,20.0,...,-0.587785,-0.809017,-0.781831,0.623490,-0.587785,-0.809017,0.000000,1.000000,-0.587785,-0.809017
1,2013-01-22,3_114790,3,114790,14.0,17.0,14.0,17.0,18.0,37.0,...,0.951057,0.309017,0.000000,1.000000,0.951057,0.309017,0.781831,0.623490,0.951057,0.309017
2,2013-02-06,3_114790,3,114790,25.0,17.0,20.0,23.0,15.0,15.0,...,-0.587785,-0.809017,0.781831,0.623490,-0.587785,-0.809017,0.974928,-0.222521,-0.587785,-0.809017
3,2013-02-21,3_114790,3,114790,19.0,18.0,28.0,19.0,11.0,16.0,...,0.951057,0.309017,0.974928,-0.222521,0.951057,0.309017,0.433884,-0.900969,0.951057,0.309017
4,2013-03-08,3_114790,3,114790,19.0,38.0,35.0,23.0,20.0,20.0,...,-0.587785,-0.809017,0.433884,-0.900969,-0.587785,-0.809017,-0.433884,-0.900969,-0.951057,0.309017

In [187]:
non_overlap_df.shape

(112, 109)

In [188]:
non_overlap_df = generate_nonoverlap_window_features(df, window_size=15)
print(non_overlap_df.shape)
non_overlap_df2 = generate_cyclical_features(df, window_size=15)
print(non_overlap_df2.shape)

(11200, 49)
(11200, 64)

In [189]:
non_overlap_df3 = pd.merge(non_overlap_df, non_overlap_df2, on=["start_date", "store_item", "store", "item"])
print(non_overlap_df3.shape)

(11200, 109)

In [190]:
non_overlap_df.to_excel("../output/data/train_sales_15_days.xlsx",
            index=False)

In [191]:
non_overlap_df2.to_excel("../output/data/train_cyclical_15_days.xlsx",
            index=False)

In [192]:
# Define the keys used for merging
merge_keys = ["start_date", "store_item", "store", "item"]

# Identify missing rows from non_overlap_df3 that are not in non_overlap_df
missing_from_df = non_overlap_df2.merge(
    non_overlap_df3[merge_keys],
    on=merge_keys,
    how="left",
    indicator=True
).query('_merge == "left_only"')

# Optional: drop the merge indicator column
missing_from_df = missing_from_df.drop(columns="_merge")

# Show how many are missing
print(f"Missing rows in non_overlap_df: {missing_from_df.shape[0]}")

Missing rows in non_overlap_df: 0

In [167]:
missing_from_df.to_excel("../output/data/missing_from_df.xlsx", index=False)

In [193]:
non_overlap_df.columns

Index(['start_date', 'store_item', 'store', 'item', 'sales_day_1',
       'sales_day_2', 'sales_day_3', 'sales_day_4', 'sales_day_5',
       'sales_day_6', 'sales_day_7', 'sales_day_8', 'sales_day_9',
       'sales_day_10', 'sales_day_11', 'sales_day_12', 'sales_day_13',
       'sales_day_14', 'sales_day_15', 'store_med_day_1', 'store_med_day_2',
       'store_med_day_3', 'store_med_day_4', 'store_med_day_5',
       'store_med_day_6', 'store_med_day_7', 'store_med_day_8',
       'store_med_day_9', 'store_med_day_10', 'store_med_day_11',
       'store_med_day_12', 'store_med_day_13', 'store_med_day_14',
       'store_med_day_15', 'item_med_day_1', 'item_med_day_2',
       'item_med_day_3', 'item_med_day_4', 'item_med_day_5', 'item_med_day_6',
       'item_med_day_7', 'item_med_day_8', 'item_med_day_9', 'item_med_day_10',
       'item_med_day_11', 'item_med_day_12', 'item_med_day_13',
       'item_med_day_14', 'item_med_day_15'],
      dtype='object')

In [194]:
non_overlap_df3.to_excel("../output/data//train_top_10_store_10_item_non_overlap.xlsx",
            index=False)

In [195]:
non_overlap_df = non_overlap_df3

In [196]:
# --- Apply MinMax Scaling ---
scaler = MinMaxScaler()
scaled_values = scaler.fit_transform(non_overlap_df.drop(columns=["start_date","store_item", "store", "item"]))
scaled_df = pd.DataFrame(scaled_values, columns=non_overlap_df.columns[4:])
scaled_df.insert(0, "start_date", non_overlap_df["start_date"])
scaled_df.insert(1, "store_item", non_overlap_df["store_item"])
scaled_df.insert(2, "store", non_overlap_df["store"])
scaled_df.insert(3, "item", non_overlap_df["item"])
scaled_df.head()

,start_date,store_item,store,item,sales_day_1,sales_day_2,sales_day_3,sales_day_4,sales_day_5,sales_day_6,...,weekofmonth_sin_13,weekofmonth_cos_13,dayofweek_sin_14,dayofweek_cos_14,weekofmonth_sin_14,weekofmonth_cos_14,dayofweek_sin_15,dayofweek_cos_15,weekofmonth_sin_15,weekofmonth_cos_15
0,2013-01-07,3_114790,3,114790,0.023007,0.007698,0.008070,0.003452,0.012953,0.015873,...,0.190983,0.0,0.099031,0.801938,0.190983,0.0,0.5,1.0,0.190983,0.0
1,2013-01-07,3_305229,3,305229,0.073131,0.040588,0.050279,0.010572,0.095855,0.067460,...,0.190983,0.0,0.099031,0.801938,0.190983,0.0,0.5,1.0,0.190983,0.0
2,2013-01-07,3_314384,3,314384,0.087099,0.047586,0.052142,0.011866,0.062176,0.071429,...,0.190983,0.0,0.099031,0.801938,0.190983,0.0,0.5,1.0,0.190983,0.0
3,2013-01-07,3_364606,3,364606,0.102712,0.073478,0.066418,0.015965,0.074266,0.103968,...,0.190983,0.0,0.099031,0.801938,0.190983,0.0,0.5,1.0,0.190983,0.0
4,2013-01-07,3_502331,3,502331,0.078882,0.041288,0.046555,0.012082,0.058722,0.111905,...,0.190983,0.0,0.099031,0.801938,0.190983,0.0,0.5,1.0,0.190983,0.0

In [197]:
# Save to dataframe
import pickle
with open('../output/data/minmax_scaler.pkl', 'wb') as f:
    pickle.dump(scaler, f)
    
scaled_df.to_excel("../output/data/scaled_train_nonoverlap_top_10_store_item.xlsx", index=False)

In [199]:
# 1) Define all 21 “today” feature cols
window_size = 15
feat_cols = (
    [f"sales_day_{i}"     for i in range(1, window_size+1)]  # window_size cols
  + [f"store_med_day_{i}" for i in range(1, window_size+1)]  # window_size cols
  + [f"item_med_day_{i}"  for i in range(1, window_size+1)]  # window_size cols
  + [f"dayofweek_sin_{i}" for i in range(1, window_size+1)]  # window_size cols
  + [f"dayofweek_cos_{i}" for i in range(1, window_size+1)]  # window_size cols
  + [f"weekofmonth_sin_{i}" for i in range(1, window_size+1)]  # window_size cols
  + [f"weekofmonth_cos_{i}" for i in range(1, window_size+1)]  # window_size cols
)

# 2) Create “next‑day” labels for the same size(feat_cols) cols
df = scaled_df.sort_values(['start_date','store_item']).copy()
for col in feat_cols:
    df[f"y_{col}"] = df.groupby('store_item')[col].shift(-1)

df.head()

/var/folders/w3/d06m5l_97yn4bnxd5t6cgbjr0000gn/T/ipykernel_28920/615969873.py:16: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[f"y_{col}"] = df.groupby('store_item')[col].shift(-1)
/var/folders/w3/d06m5l_97yn4bnxd5t6cgbjr0000gn/T/ipykernel_28920/615969873.py:16: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[f"y_{col}"] = df.groupby('store_item')[col].shift(-1)
/var/folders/w3/d06m5l_97yn4bnxd5t6cgbjr0000gn/T/ipykernel_28920/615969873.py:16: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[f"y_{col}"] = df.groupby('store_item')[col].shift(-1)
/var/folders/w3/d06m5l_97yn4bnxd5t6cgbjr0000gn/T/ipykernel_28920/615969873.py:16: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[f"y_{col}"] = df.groupby('store_item')[col].shift(-1)
/var/folders/w3/d06m5l_97yn4bnxd5t6cgbjr0000gn/T/ipykernel_28920/615969873.py:16: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[f"y_{col}"] = df.groupby('store_item')[col].shift(-1)
/var/folders/w3/d06m5l_97yn4bnxd5t6cgbjr0000gn/T/ipykernel_28920/615969873.py:16: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[f"y_{col}"] = df.groupby('store_item')[col].shift(-1)
/var/folders/w3/d06m5l_97yn4bnxd5t6cgbjr0000gn/T/ipykernel_28920/615969873.py:16: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[f"y_{col}"] = df.groupby('store_item')[col].shift(-1)
/var/folders/w3/d06m5l_97yn4bnxd5t6cgbjr0000gn/T/ipykernel_28920/615969873.py:16: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[f"y_{col}"] = df.groupby('store_item')[col].shift(-1)
/var/folders/w3/d06m5l_97yn4bnxd5t6cgbjr0000gn/T/ipykernel_28920/615969873.py:16: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[f"y_{col}"] = df.groupby('store_item')[col].shift(-1)

,start_date,store_item,store,item,sales_day_1,sales_day_2,sales_day_3,sales_day_4,sales_day_5,sales_day_6,...,y_weekofmonth_cos_6,y_weekofmonth_cos_7,y_weekofmonth_cos_8,y_weekofmonth_cos_9,y_weekofmonth_cos_10,y_weekofmonth_cos_11,y_weekofmonth_cos_12,y_weekofmonth_cos_13,y_weekofmonth_cos_14,y_weekofmonth_cos_15
9,2013-01-07,3_1047679,3,1047679,0.474938,0.237929,0.247052,0.112190,0.468912,0.722222,...,0.618034,0.618034,1.0,1.0,1.0,0.618034,0.618034,0.618034,0.618034,0.618034
0,2013-01-07,3_114790,3,114790,0.023007,0.007698,0.008070,0.003452,0.012953,0.015873,...,0.618034,0.618034,1.0,1.0,1.0,0.618034,0.618034,0.618034,0.618034,0.618034
1,2013-01-07,3_305229,3,305229,0.073131,0.040588,0.050279,0.010572,0.095855,0.067460,...,0.618034,0.618034,1.0,1.0,1.0,0.618034,0.618034,0.618034,0.618034,0.618034
2,2013-01-07,3_314384,3,314384,0.087099,0.047586,0.052142,0.011866,0.062176,0.071429,...,0.618034,0.618034,1.0,1.0,1.0,0.618034,0.618034,0.618034,0.618034,0.618034
3,2013-01-07,3_364606,3,364606,0.102712,0.073478,0.066418,0.015965,0.074266,0.103968,...,0.618034,0.618034,1.0,1.0,1.0,0.618034,0.618034,0.618034,0.618034,0.618034

In [200]:
print("Unique (store, item) pairs:", df["store_item"].nunique())

Unique (store, item) pairs: 100

In [201]:
df.to_excel("../output/data/20250527_scaled_train_nonoverlap_top_10_store_item_X_y.xlsx", index=False)