In [57]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.preprocessing import MinMaxScaler

In [58]:
import sys
sys.path.insert(0, "..")   
from src.utils import generate_cyclical_features, generate_nonoverlap_window_features

In [59]:
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [60]:
dtype_dict={"id":np.uint32,
            "store_nbr":np.uint8,
            "item_nbr":np.uint32,
            "unit_sales":np.float32
           }
df = pd.read_csv("../output/data/train_top_10_store_10_item.csv", dtype=dtype_dict)
cols = ['date', 'store_item', 'store_nbr', 'item_nbr'] + [c for c in df.columns 
                                  if c not in ('date', 'store_item', 'store_nbr', 'item_nbr')]
df = df[cols]
df.rename(columns={"store_nbr": "store", "item_nbr": "item"}, inplace=True)
df["date"] = pd.to_datetime(df["date"])
df.sort_values("date", inplace=True)
df.reset_index(drop=True, inplace=True)
df.head(5)

/var/folders/w3/d06m5l_97yn4bnxd5t6cgbjr0000gn/T/ipykernel_28920/2905051343.py:6: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("../output/data/train_top_10_store_10_item.csv", dtype=dtype_dict)

        date store_item  store    item  unit_sales onpromotion
0 2013-01-07  48_502331     48  502331    70.00000         NaN
1 2013-01-07  46_584028     46  584028   304.27301         NaN
2 2013-01-07   3_114790      3  114790    28.00000         NaN
3 2013-01-07   3_305229      3  305229    89.00000         NaN
4 2013-01-07   3_314384      3  314384   106.00000         NaN

In [61]:
df.head(5)

        date store_item  store    item  unit_sales onpromotion
0 2013-01-07  48_502331     48  502331    70.00000         NaN
1 2013-01-07  46_584028     46  584028   304.27301         NaN
2 2013-01-07   3_114790      3  114790    28.00000         NaN
3 2013-01-07   3_305229      3  305229    89.00000         NaN
4 2013-01-07   3_314384      3  314384   106.00000         NaN

In [62]:
df.dtypes

date           datetime64[ns]
store_item             object
store                   uint8
item                   uint32
unit_sales            float32
onpromotion            object
dtype: object

In [148]:
non_overlap_df = generate_nonoverlap_window_features(df.query("store_item == '3_114790'"), window_size=15)
non_overlap_df.head()

,start_date,store_item,store,item,sales_day_1,store_med_day_1,item_med_day_1,sales_day_2,store_med_day_2,item_med_day_2,...,item_med_day_12,sales_day_13,store_med_day_13,item_med_day_13,sales_day_14,store_med_day_14,item_med_day_14,sales_day_15,store_med_day_15,item_med_day_15
0,2013-01-07,3_114790,3,114790,28.0,28.0,28.0,11.0,11.0,11.0,...,23.0,27.0,27.0,27.0,35.0,35.0,35.0,21.0,21.0,21.0
1,2013-01-22,3_114790,3,114790,14.0,14.0,14.0,17.0,17.0,17.0,...,33.0,36.0,36.0,36.0,31.0,31.0,31.0,18.0,18.0,18.0
2,2013-02-06,3_114790,3,114790,25.0,25.0,25.0,17.0,17.0,17.0,...,26.0,22.0,22.0,22.0,28.0,28.0,28.0,29.0,29.0,29.0
3,2013-02-21,3_114790,3,114790,19.0,19.0,19.0,18.0,18.0,18.0,...,24.0,18.0,18.0,18.0,24.0,24.0,24.0,17.0,17.0,17.0
4,2013-03-08,3_114790,3,114790,19.0,19.0,19.0,38.0,38.0,38.0,...,18.0,36.0,36.0,36.0,17.0,17.0,17.0,21.0,21.0,21.0

In [149]:
non_overlap_df.columns.to_list()

['start_date',
 'store_item',
 'store',
 'item',
 'sales_day_1',
 'store_med_day_1',
 'item_med_day_1',
 'sales_day_2',
 'store_med_day_2',
 'item_med_day_2',
 'sales_day_3',
 'store_med_day_3',
 'item_med_day_3',
 'sales_day_4',
 'store_med_day_4',
 'item_med_day_4',
 'sales_day_5',
 'store_med_day_5',
 'item_med_day_5',
 'sales_day_6',
 'store_med_day_6',
 'item_med_day_6',
 'sales_day_7',
 'store_med_day_7',
 'item_med_day_7',
 'sales_day_8',
 'store_med_day_8',
 'item_med_day_8',
 'sales_day_9',
 'store_med_day_9',
 'item_med_day_9',
 'sales_day_10',
 'store_med_day_10',
 'item_med_day_10',
 'sales_day_11',
 'store_med_day_11',
 'item_med_day_11',
 'sales_day_12',
 'store_med_day_12',
 'item_med_day_12',
 'sales_day_13',
 'store_med_day_13',
 'item_med_day_13',
 'sales_day_14',
 'store_med_day_14',
 'item_med_day_14',
 'sales_day_15',
 'store_med_day_15',
 'item_med_day_15']

In [150]:
non_overlap_df.shape

(112, 49)

In [151]:
non_overlap_df.to_excel("../output/data/train_3_114790_sales_2_days.xlsx",
            index=False)

In [152]:
non_overlap_df2 = generate_cyclical_features(df.query("store_item == '3_114790'"), window_size=15)
non_overlap_df2.head()

,start_date,store_item,store,item,dayofweek_sin_1,dayofweek_cos_1,weekofmonth_sin_1,weekofmonth_cos_1,dayofweek_sin_2,dayofweek_cos_2,...,weekofmonth_sin_13,weekofmonth_cos_13,dayofweek_sin_14,dayofweek_cos_14,weekofmonth_sin_14,weekofmonth_cos_14,dayofweek_sin_15,dayofweek_cos_15,weekofmonth_sin_15,weekofmonth_cos_15
0,2013-01-07,3_114790,3,114790,0.000000,1.000000,0.951057,0.309017,0.781831,0.623490,...,-0.587785,-0.809017,-0.781831,0.623490,-0.587785,-0.809017,0.000000,1.000000,-0.587785,-0.809017
1,2013-01-22,3_114790,3,114790,0.781831,0.623490,-0.951057,0.309017,0.974928,-0.222521,...,0.951057,0.309017,0.000000,1.000000,0.951057,0.309017,0.781831,0.623490,0.951057,0.309017
2,2013-02-06,3_114790,3,114790,0.974928,-0.222521,0.951057,0.309017,0.433884,-0.900969,...,-0.587785,-0.809017,0.781831,0.623490,-0.587785,-0.809017,0.974928,-0.222521,-0.587785,-0.809017
3,2013-02-21,3_114790,3,114790,0.433884,-0.900969,-0.587785,-0.809017,-0.433884,-0.900969,...,0.951057,0.309017,0.974928,-0.222521,0.951057,0.309017,0.433884,-0.900969,0.951057,0.309017
4,2013-03-08,3_114790,3,114790,-0.433884,-0.900969,0.587785,-0.809017,-0.974928,-0.222521,...,-0.587785,-0.809017,0.433884,-0.900969,-0.587785,-0.809017,-0.433884,-0.900969,-0.951057,0.309017

In [153]:
non_overlap_df2.columns.to_list()

['start_date',
 'store_item',
 'store',
 'item',
 'dayofweek_sin_1',
 'dayofweek_cos_1',
 'weekofmonth_sin_1',
 'weekofmonth_cos_1',
 'dayofweek_sin_2',
 'dayofweek_cos_2',
 'weekofmonth_sin_2',
 'weekofmonth_cos_2',
 'dayofweek_sin_3',
 'dayofweek_cos_3',
 'weekofmonth_sin_3',
 'weekofmonth_cos_3',
 'dayofweek_sin_4',
 'dayofweek_cos_4',
 'weekofmonth_sin_4',
 'weekofmonth_cos_4',
 'dayofweek_sin_5',
 'dayofweek_cos_5',
 'weekofmonth_sin_5',
 'weekofmonth_cos_5',
 'dayofweek_sin_6',
 'dayofweek_cos_6',
 'weekofmonth_sin_6',
 'weekofmonth_cos_6',
 'dayofweek_sin_7',
 'dayofweek_cos_7',
 'weekofmonth_sin_7',
 'weekofmonth_cos_7',
 'dayofweek_sin_8',
 'dayofweek_cos_8',
 'weekofmonth_sin_8',
 'weekofmonth_cos_8',
 'dayofweek_sin_9',
 'dayofweek_cos_9',
 'weekofmonth_sin_9',
 'weekofmonth_cos_9',
 'dayofweek_sin_10',
 'dayofweek_cos_10',
 'weekofmonth_sin_10',
 'weekofmonth_cos_10',
 'dayofweek_sin_11',
 'dayofweek_cos_11',
 'weekofmonth_sin_11',
 'weekofmonth_cos_11',
 'dayofweek_sin_12',
 'dayofweek_cos_12',
 'weekofmonth_sin_12',
 'weekofmonth_cos_12',
 'dayofweek_sin_13',
 'dayofweek_cos_13',
 'weekofmonth_sin_13',
 'weekofmonth_cos_13',
 'dayofweek_sin_14',
 'dayofweek_cos_14',
 'weekofmonth_sin_14',
 'weekofmonth_cos_14',
 'dayofweek_sin_15',
 'dayofweek_cos_15',
 'weekofmonth_sin_15',
 'weekofmonth_cos_15']

In [154]:
non_overlap_df2.shape

(112, 64)

In [155]:
# Define the keys used for merging
merge_keys = ["start_date", "store_item", "store", "item"]

# Identify missing rows from non_overlap_df2 that are not in non_overlap_df
missing_from_df = non_overlap_df.merge(
    non_overlap_df2[merge_keys],
    on=merge_keys,
    how="left",
    indicator=True
).query('_merge == "left_only"')

# Optional: drop the merge indicator column
missing_from_df = missing_from_df.drop(columns="_merge")

# Show how many are missing
print(f"Missing rows in non_overlap_df: {missing_from_df.shape[0]}")

Missing rows in non_overlap_df: 0

In [156]:
missing_from_df2.head()

Empty DataFrame
Columns: [start_date, store_item, store, item, dayofweek_sin_1, dayofweek_cos_1, weekofmonth_sin_1, weekofmonth_cos_1, dayofweek_sin_2, dayofweek_cos_2, weekofmonth_sin_2, weekofmonth_cos_2, dayofweek_sin_3, dayofweek_cos_3, weekofmonth_sin_3, weekofmonth_cos_3, dayofweek_sin_4, dayofweek_cos_4, weekofmonth_sin_4, weekofmonth_cos_4, dayofweek_sin_5, dayofweek_cos_5, weekofmonth_sin_5, weekofmonth_cos_5, dayofweek_sin_6, dayofweek_cos_6, weekofmonth_sin_6, weekofmonth_cos_6, dayofweek_sin_7, dayofweek_cos_7, weekofmonth_sin_7, weekofmonth_cos_7, dayofweek_sin_8, dayofweek_cos_8, weekofmonth_sin_8, weekofmonth_cos_8, dayofweek_sin_9, dayofweek_cos_9, weekofmonth_sin_9, weekofmonth_cos_9, dayofweek_sin_10, dayofweek_cos_10, weekofmonth_sin_10, weekofmonth_cos_10, dayofweek_sin_11, dayofweek_cos_11, weekofmonth_sin_11, weekofmonth_cos_11, dayofweek_sin_12, dayofweek_cos_12, weekofmonth_sin_12, weekofmonth_cos_12, dayofweek_sin_13, dayofweek_cos_13, weekofmonth_sin_13, weekofmonth_cos_13, dayofweek_sin_14, dayofweek_cos_14, weekofmonth_sin_14, weekofmonth_cos_14, dayofweek_sin_15, dayofweek_cos_15, weekofmonth_sin_15, weekofmonth_cos_15]
Index: []

[0 rows x 64 columns]

In [157]:
non_overlap_df2.to_excel("../output/data/train_3_114790_cyclical_features_2_days.xlsx",
            index=False)

In [158]:
non_overlap_df = pd.merge(non_overlap_df, non_overlap_df2, on=["store_item", "start_date", "store", "item" ])
non_overlap_df.head()

,start_date,store_item,store,item,sales_day_1,store_med_day_1,item_med_day_1,sales_day_2,store_med_day_2,item_med_day_2,...,weekofmonth_sin_13,weekofmonth_cos_13,dayofweek_sin_14,dayofweek_cos_14,weekofmonth_sin_14,weekofmonth_cos_14,dayofweek_sin_15,dayofweek_cos_15,weekofmonth_sin_15,weekofmonth_cos_15
0,2013-01-07,3_114790,3,114790,28.0,28.0,28.0,11.0,11.0,11.0,...,-0.587785,-0.809017,-0.781831,0.623490,-0.587785,-0.809017,0.000000,1.000000,-0.587785,-0.809017
1,2013-01-22,3_114790,3,114790,14.0,14.0,14.0,17.0,17.0,17.0,...,0.951057,0.309017,0.000000,1.000000,0.951057,0.309017,0.781831,0.623490,0.951057,0.309017
2,2013-02-06,3_114790,3,114790,25.0,25.0,25.0,17.0,17.0,17.0,...,-0.587785,-0.809017,0.781831,0.623490,-0.587785,-0.809017,0.974928,-0.222521,-0.587785,-0.809017
3,2013-02-21,3_114790,3,114790,19.0,19.0,19.0,18.0,18.0,18.0,...,0.951057,0.309017,0.974928,-0.222521,0.951057,0.309017,0.433884,-0.900969,0.951057,0.309017
4,2013-03-08,3_114790,3,114790,19.0,19.0,19.0,38.0,38.0,38.0,...,-0.587785,-0.809017,0.433884,-0.900969,-0.587785,-0.809017,-0.433884,-0.900969,-0.951057,0.309017

In [159]:
non_overlap_df.shape

(112, 109)

In [160]:
non_overlap_df = generate_nonoverlap_window_features(df, window_size=15)
print(non_overlap_df.shape)
non_overlap_df2 = generate_cyclical_features(df, window_size=15)
print(non_overlap_df2.shape)

(11200, 49)
(11200, 64)

In [161]:
non_overlap_df3 = pd.merge(non_overlap_df, non_overlap_df2, on=["start_date", "store_item", "store", "item"])
print(non_overlap_df3.shape)

(11200, 109)

In [162]:
non_overlap_df.to_excel("../output/data/train_sales_15_days.xlsx",
            index=False)

In [163]:
non_overlap_df2.to_excel("../output/data/train_cyclical_15_days.xlsx",
            index=False)

In [166]:
# Define the keys used for merging
merge_keys = ["start_date", "store_item", "store", "item"]

# Identify missing rows from non_overlap_df3 that are not in non_overlap_df
missing_from_df = non_overlap_df2.merge(
    non_overlap_df3[merge_keys],
    on=merge_keys,
    how="left",
    indicator=True
).query('_merge == "left_only"')

# Optional: drop the merge indicator column
missing_from_df = missing_from_df.drop(columns="_merge")

# Show how many are missing
print(f"Missing rows in non_overlap_df: {missing_from_df.shape[0]}")

Missing rows in non_overlap_df: 0

In [167]:
missing_from_df.to_excel("../output/data/missing_from_df.xlsx", index=False)

In [168]:
non_overlap_df.columns

Index(['start_date', 'store_item', 'store', 'item', 'sales_day_1',
       'store_med_day_1', 'item_med_day_1', 'sales_day_2', 'store_med_day_2',
       'item_med_day_2', 'sales_day_3', 'store_med_day_3', 'item_med_day_3',
       'sales_day_4', 'store_med_day_4', 'item_med_day_4', 'sales_day_5',
       'store_med_day_5', 'item_med_day_5', 'sales_day_6', 'store_med_day_6',
       'item_med_day_6', 'sales_day_7', 'store_med_day_7', 'item_med_day_7',
       'sales_day_8', 'store_med_day_8', 'item_med_day_8', 'sales_day_9',
       'store_med_day_9', 'item_med_day_9', 'sales_day_10', 'store_med_day_10',
       'item_med_day_10', 'sales_day_11', 'store_med_day_11',
       'item_med_day_11', 'sales_day_12', 'store_med_day_12',
       'item_med_day_12', 'sales_day_13', 'store_med_day_13',
       'item_med_day_13', 'sales_day_14', 'store_med_day_14',
       'item_med_day_14', 'sales_day_15', 'store_med_day_15',
       'item_med_day_15'],
      dtype='object')

In [169]:
non_overlap_df3.to_excel("../output/data//train_top_10_store_10_item_non_overlap.xlsx",
            index=False)

In [170]:
non_overlap_df = non_overlap_df3

In [ ]:
# --- Apply MinMax Scaling ---
scaler = MinMaxScaler()
scaled_values = scaler.fit_transform(non_overlap_df.drop(columns=["start_date","store_item", "store", "item"]))
scaled_df = pd.DataFrame(scaled_values, columns=non_overlap_df.columns[4:])
scaled_df.insert(0, "start_date", non_overlap_df["start_date"])
scaled_df.insert(1, "store_item", non_overlap_df["store_item"])
scaled_df.insert(2, "store", non_overlap_df["store"])
scaled_df.insert(3, "item", non_overlap_df["item"])
scaled_df.head()